In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np

#### Pick a student   
pick a random student without replacement.

In [2]:
import random
students = ['Adithi', 'Adithiyaa', 'Aditya', 'Ajay', 'Akshay', 'Alaric', 'Apoorva', 'Chayanika', 'Dharshan', 'Denis', 'Divya', 'Zeba ', 'Janak', 'Khushi', 'Kishor', 'Meghan', 'Mohammed', 'Mourya', 'Musharrat', 'Nandika', 'Phalguni', 'Prabhas', 'Pranav', 'Prasanna', 'Preetish', 'Priyanshu', 'Puneeth', 'Ramya', 'Sahil', 'Shreya', 'Sohail', 'Syeda', 'Vidith', 'Yashwant']
random.shuffle(students)

In [ ]:
students.pop()

[White House recommends use of memory-safe languages like Python](https://pyfound.blogspot.com/2024/02/white-house-recommends-.html)  

[CERN Animal Shelter for Computer Mice](https://computer-animal-shelter.web.cern.ch/index.shtml)   

[cern](https://home.cern/)   

[higgs-boson CERN](https://home.web.cern.ch/science/physics/higgs-boson)   

[We love you CERN Poem](https://home.web.cern.ch/news/news/cern/we-love-your-cern-poems)

##### Attendance Watch

In [1]:
import pandas as pd

df = pd.read_excel('../Scores and Attendance/BSc22-A IML Attendance.xlsx')
df['Total'] = df.iloc[:, 3:].sum(axis=1)
df['%'] = round(100*df.Total/max(df.Total), 2)
df[df['%'] < 80][['USN', 'Name', 'Total', '%']].sort_values('Total')

             USN                  Name      Total      %
36  1RVU22BSC055              Mohith M   0.000000   0.00
32  1RVU22BSC103  Syeda Maleka Fatima    2.000000   7.69
31  1RVU22BSC099        Sohail Ansari    4.000000  15.38
22  1RVU22BSC071        Pranav Sampat   12.000000  46.15
33  1RVU22BSC108     Vidith Somanna C   12.538462  48.22
35  1RVU22BSC045         Krisch Kalwar  14.000000  53.85
10  1RVU22BSC028       Divya Jnanakshi  16.000000  61.54
12  1RVU22BSC037       Janak R Kumble   16.000000  61.54
18  1RVU22BSC058    Musharrat Perveen   18.000000  69.23
27  1RVU22BSC080          Ramya Raga N  18.000000  69.23
28  1RVU22BSC085          Sahil Kumar   18.000000  69.23
4   1RVU22BSC007      Akshay Kumar B P  20.000000  76.92
8   1RVU22BSC027              Dharshan  20.000000  76.92
29  1RVU22BSC086   Sai Rajendra Gawand  20.000000  76.92