#### Visualisation in ML

pt.RainCloud(x = dx, y = dy, data = df, palette = pal, bw = sigma,   
                 width_viol = .6, ax = ax, orient = ort)    
https://github.com/pog87/PtitPrince/blob/master/tutorial_python/raincloud_tutorial_python.ipynb

In [1]:
import pandas as pd
import ptitprince as pt
import matplotlib.pyplot as plt
import seaborn as sns
import os

**When we generate summary statistic,  
we lose some essential information**.   

![](../Figures/box_plot may misguide.png)

![](../Figures/misleading correlatins.png)

In [2]:
xls = pd.ExcelFile("../Data/Seven Schools.xlsx")

In [4]:
df = pd.read_excel('../Data/Height_Weight_Sample.xlsx')

In [5]:
df.head()

   Height_cm  Weight_Kg  Shoe_Size Sex
0        171         59          8   F
1        171         51          8   M
2        181         79          9   M
3        180         63         10   M
4        180         75         10   M

In [9]:
pt.RainCloud(df, x='Weight_cm');

TypeError: RainCloud() got multiple values for argument 'x'