#### Spearman vs Pearson Correlation      
##### Sample data   
Ordinal categorical feature: t-shirt sizes S, M, L, XL    
Continuous feature: weight or collar size.   
Spearman produces ranks from encoding and the specific

In [1]:
import pandas as pd
from io import StringIO

In [2]:
shirts = StringIO("""size,encode1,encode2,encode3
S,1,1,1
M,2,2,1.5
L,3,4,2.5
XL,4,8,4
""")

df = pd.read_csv(shirts)
df

  size  encode1  encode2  encode3
0    S        1        1      1.0
1    M        2        2      1.5
2    L        3        4      2.5
3   XL        4        8      4.0

In [3]:
df[['encode1','encode2','encode3']].corr(method='pearson')

          encode1   encode2   encode3
encode1  1.000000  0.959166  0.975900
encode2  0.959166  1.000000  0.997097
encode3  0.975900  0.997097  1.000000

In [4]:
df[['encode1','encode2','encode3']].corr(method='spearman')

         encode1  encode2  encode3
encode1      1.0      1.0      1.0
encode2      1.0      1.0      1.0
encode3      1.0      1.0      1.0

Spearman correlation is a better alternative to assess the **monotonicity** between ordinal and continuous features    
##### A monotonic function   
A function that is either always increasing or always decreasing.  
E.g., any linear function y=mx+b that has positive slope (m).  
The derivative of this is y' = m is positive so the function is always increasing and therefore monotonically increasing.

#### Task   

```
for encode2 as collar size in [cm, inches]
    for encode3 as shoulder size in [cm, inches]
        for correlaion in [Pearson, Spearman]
            find correlation         
```