In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np

#### Pick a student   
pick a random student without replacement.

In [6]:
import random
students = ['Adithi', 'Adithiyaa', 'Aditya', 'Ajay', 'Akshay', 'Alaric', 'Apoorva', 'Chayanika', 'Dharshan', 'Denis', 'Divya', 'Zeba ', 'Janak', 'Khushi', 'Kishor', 'Meghan', 'Mohammed', 'Mourya', 'Musharrat', 'Nandika', 'Phalguni', 'Prabhas', 'Pranav', 'Prasanna', 'Preetish', 'Priyanshu', 'Puneeth', 'Ramya', 'Sahil', 'Shreya', 'Sohail', 'Syeda', 'Vidith', 'Yashwant']; students=['Sahil']
random.shuffle(students)

In [ ]:
students.pop()

##### Attendance Watch

In [2]:
import pandas as pd

df = pd.read_excel('../Scores and Attendance/BSc22-A IML Attendance.xlsx')
df['Total'] = df.iloc[:, 3:].sum(axis=1)
df['%'] = round(100*df.Total/max(df.Total), 2)
df[df['%'] < 80][['USN', 'Name', 'Total', '%']].sort_values('Total')

             USN                  Name  Total      %
36  1RVU22BSC055              Mohith M      0   0.00
32  1RVU22BSC103  Syeda Maleka Fatima       2   9.09
31  1RVU22BSC099        Sohail Ansari       4  18.18
22  1RVU22BSC071        Pranav Sampat      10  45.45
33  1RVU22BSC108     Vidith Somanna C      10  45.45
35  1RVU22BSC045         Krisch Kalwar     10  45.45
12  1RVU22BSC037       Janak R Kumble      12  54.55
10  1RVU22BSC028       Divya Jnanakshi     14  63.64
18  1RVU22BSC058    Musharrat Perveen      14  63.64
27  1RVU22BSC080          Ramya Raga N     14  63.64
28  1RVU22BSC085          Sahil Kumar      14  63.64
8   1RVU22BSC027              Dharshan     16  72.73
29  1RVU22BSC086   Sai Rajendra Gawand     16  72.73